@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: calc(100% * 2);
    width: 100%;
}

body {
    display: flex;
    flex-flow: column;
}

.container {
    height: 25%;
}

.container[data-index='1']{
    width: 100%;
}

.container[data-index='2']{
    width: 100%;
    align-self: flex-start;
    justify-self: center;

    display: flex;
}

.container[data-index='3']{
    width: 100%;
    align-self: center;
    justify-self: flex-end;

    display: flex;
    flex-flow:row-reverse;
}

.container[data-index='4']{
    width: 100%;
}

.stat {
    width: 75%;
    justify-self: flex-start;

    padding: 0 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.statContainer {
    padding: 20px;
    max-width: 650px;
    max-height: 280px;
    display: flex;
    flex-flow: column;
}

.statContainer.people {
    align-self: flex-start;
}

.statContainer.cause {
    align-self: flex-end;
}

.statContainer.discrimination {
    align-self: flex-end;
}

.statContainer.welfare {
    align-self: flex-start;
}


.infographic {
    max-width: 520px;
    max-height: 180px;
    box-sizing: border-box;
    
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.img_people1 {
    position: relative;
    height: 50%;
    width: auto;
}

.img_people2 {
    display: inline-block;
}

.stat {
    box-sizing: border-box;
}

.img_person {
    width: auto;
    height: 90%;
    transition: 1s;
    opacity: 0;
}

.visible {
    transition: 1s;
    opacity: 1;
}

.headline {
    font-family: 'Song Myung', sans-serif;
    font-size: 50px;
    margin-bottom: 10px;;
}

.sub_text {
    font-family: 'Song Myung', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;;
}

.source {
    margin-top: 10px;
    font-family: 'Song Myung', sans-serif;
    font-size: 15px;
    align-self: flex-end;
}

.main_title {
    padding-top: 50px;

    font-family: 'Song Myung', sans-serif;
    font-size: 50px;
    color: white;
}

.main_text {
    padding-bottom: 70px;

    font-family: 'Song Myung', sans-serif;
    font-size: 20px;
    color: white;
}

.container[data-index='2'] .article {
    width: 25%;
    /* justify-self: flex-end */
    padding: 0 20px;
    background: green;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.container[data-index='3'] .article {
    width: 25%;
    /* justify-self: flex-end */
    padding: 0 20px;
    background: green;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.container[data-index='3'] .main_title {
    text-align: end;
}

@media (max-height: 650px) {
    .container {
        height: 650px;
    }
}

@media (min-width: 1000px) and (max-width: 1250px) {
    .headline {
        font-size: 40px;
    }
    
    .sub_text {
        font-size: 17px;
    }
    
    .main_title {
        font-size: 40px;
    }

    .main_text {
        font-size: 17px;
    }

    
}

@media (max-width: 1000px) {
    .headline {
        font-size: 33px;
    }
    
    .sub_text {
        font-size: 15px;
    }
    
    .main_title {
        font-size: 33px;
    }

    .main_text {
        font-size: 15px;
    }
}

@media (max-width: 850px) {
    .statContainer.cause {
        align-self: flex-start;
    }

    .img_people2 {
        display: block;
        height: 50%;
    }

    .img_person {
        width: auto;
        height: 100%;
    }

    .statContainer {
        padding: 20px;
        width: 60vw;
        max-height: 280px;
        display: flex;
        flex-flow: column;
    }
}


